<div id="main">
    <h1 mat-dialog-title id="title">S'inscrire</h1>
    <div mat-dialog-content>
        <mat-grid-list cols = "6" rowHeight="30px" class="content">
            <mat-grid-tile [colspan] = "3" class="tile-content">
                <mat-form-field>
                    <input matInput value="firstName" placeholder="Prénom" [(ngModel)]="firstName"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "3" class="tile-content">
                <mat-form-field>
                    <input matInput value="lastName" placeholder="Nom" [(ngModel)]="lastName"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "6" class="tile-content">
                <mat-form-field>
                    <input matInput value="emailAddress" placeholder="Adresse courriel" [(ngModel)]="emailAddress"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "6"><span class="tile-title">Adresse postale</span></mat-grid-tile>
            <mat-grid-tile [colspan] = "3" class="tile-content">
                <mat-form-field>
                    <input matInput value="adressNumber" placeholder="Num." [(ngModel)]="adressNumber"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "3" class="tile-content">
                <mat-form-field>
                    <input matInput value="streetName" placeholder="Rue" [(ngModel)]="streetName"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "3" class="tile-content">
                <mat-form-field>
                    <input matInput value="city" placeholder="Ville" [(ngModel)]="city"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "3" class="tile-content">
                <mat-form-field>
                    <input matInput value="postalCode" placeholder="Code postal" [(ngModel)]="postalCode"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "6"><span class="tile-title">Type d'abonnement</span></mat-grid-tile>
            <mat-grid-tile [colspan] = "1"><input type="radio" name="inscription" [(ngModel)]="monthly" [value]="true">Mensuel</mat-grid-tile>
            <mat-grid-tile [colspan] = "1"><input type="radio" name="inscription" [(ngModel)]="monthly" [value]="false">Pay per view</mat-grid-tile>
            <mat-grid-tile [colspan] = "6"><span class="tile-title">Carte de crédit</span></mat-grid-tile>
            <mat-grid-tile [colspan] = "6" class="tile-content">
                <mat-form-field>
                    <input matInput value="creditCardNumber" placeholder="Num. carte de crédit" [(ngModel)]="creditCardNum"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "6"><span class="tile-title">Expiration</span></mat-grid-tile>
            <mat-grid-tile [colspan] = "2" class="tile-content">
                <mat-form-field>
                  <input matInput value="expirationMonth" placeholder="Mois" [(ngModel)]="expirationMonth"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "2" class="tile-content">
                <mat-form-field>
                    <input matInput value="expirationYear" placeholder="Année" [(ngModel)]="expirationYear"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "2" class="tile-content">
                <mat-form-field>
                    <input matInput value="ccv" placeholder="CCV" [(ngModel)]="ccv"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "6"><span class="tile-title">Administrateur</span></mat-grid-tile>
            <mat-grid-tile [colspan] = "1"><input type="radio" name="admin" [(ngModel)]="isAdmin" [value]="true">Oui</mat-grid-tile>
            <mat-grid-tile [colspan] = "1"><input type="radio" name="admin" [(ngModel)]="isAdmin" [value]="false">Non</mat-grid-tile>
            <mat-grid-tile [colspan] = "6"><span class="tile-title">Mot de passe</span></mat-grid-tile>
            <mat-grid-tile [colspan] = "6" class="tile-content">
                <mat-form-field>
                    <input matInput value="password" type="password" placeholder="Mot de passe" [(ngModel)]="password"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan] = "6" class="tile-content">
                <mat-form-field>
                    <input matInput value="confirmation" type="password" placeholder="Confirmez" [(ngModel)]="confirmation"/>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div id="confirm">
        <button mat-button (click)="this.signUp()">S'inscrire</button>
    </div>
</div>
