<div id="main">
    <h1 mat-dialog-title>{{this.data.title}} ({{this.data.id}})</h1>
    <div mat-dialog-content>
        <mat-grid-list cols = "2" rowHeight="30px" class="content">
            <mat-grid-tile><span class="tile-content">Genre</span></mat-grid-tile>
            <mat-grid-tile><span class="tile-content">{{this.data.genre}}</span></mat-grid-tile>
            <mat-grid-tile><span class="tile-content">Durée (min)</span></mat-grid-tile>
            <mat-grid-tile><span class="tile-content">{{this.data.duration}}</span></mat-grid-tile>
            <!-- <mat-grid-tile><span class="tile-content">Réalisateur</span></mat-grid-tile>
            <mat-grid-tile><span class="tile-content">{{this.data.director}}</span></mat-grid-tile> -->
            <mat-grid-tile><span class="tile-content">Année de production</span></mat-grid-tile>
            <mat-grid-tile><span class="tile-content">{{this.data.prodYear}}</span></mat-grid-tile>
            <!-- TO DO AJOUTER LES OSCARS LES LES EMPLOYÉS DU FILM -->
        </mat-grid-list>
    </div>
    <div id="confirm">
        <button mat-button (click)="this.close()">Ok</button>
    </div>
</div>
