mat-dialog-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

#main {
    width: 40vw;
}

#title {
    text-align: center;
}

.whitespace {
    margin-bottom: 20px;
}

.tile-content {
    position: absolute;
    left: 15px;
    bottom: 0px;
}

#watch {
    float: right;
    margin-top: 10px;
}

#close {
    float: left;
    margin-top: 10px;
}

.mat-dialog-title {
    margin: 0;
}

#role-list {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}