<div id="main">
    <div>
        <h1 mat-dialog-title>{{this.data.movie.title}} ({{this.data.movie.prodYear}})</h1>
        <div class="whitespace">
            <span mat-dialog-content>Durée totale : {{this.hours}}h{{this.data.movie.duration % 60}}</span>
            <span mat-dialog-content>Genre : {{this.data.movie.genre}}</span>
        </div>
    </div>
    <div id="distribution">
        <span mat-dialog-title>Distribution</span>
        <div class="whitespace">
            <div id="role-list">
                <span style="font-weight: bold">Acteurs principaux</span>
                <div *ngFor="let participant of this.data.distribution">
                    <span *ngIf="participant.role_employe === 'principal'">{{participant.nom}}</span>
                </div>
            </div>
            <div id="role-list">
                <span style="font-weight: bold">Acteurs secondaires</span>
                <div *ngFor="let participant of this.data.distribution">
                    <span *ngIf="participant.role_employe === 'secondaire'">{{participant.nom}}</span>
                </div>
            </div>
            <div id="role-list">
                <span style="font-weight: bold">Réalisateurs</span>
                <div *ngFor="let participant of this.data.distribution">
                    <span *ngIf="participant.role_employe === 'realisateur'">{{participant.nom}}</span>
                </div>
            </div>
            <div id="role-list">
                <span style="font-weight: bold">Auteur</span>
                <div *ngFor="let participant of this.data.distribution">
                    <span *ngIf="participant.role_employe === 'auteur'">{{participant.nom}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="nominations">
        <span mat-dialog-title>Nominations</span>
        <div class="whitespace">
            <div *ngFor="let nomination of this.data.nominations">
                <span *ngIf="nomination.isWon">{{nomination.categorie}} (gagné)</span>
                <span *ngIf="!nomination.isWon">{{nomination.categorie}} (nominé)</span>
            </div>
        </div>
    </div>
    <div id="close">
        <button mat-button (click)="this.close()">Fermer</button>
    </div>
    <div id="watch">
        <button mat-button (click)="this.watch()">Visionner</button>
    </div>
</div>
