mat-dialog-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

#main {
    width: 40vw;
}

#title {
    text-align: center;
}

.tile-content {
    position: absolute;
    left: 15px;
    bottom: 0px;
}

#confirm {
    float: right;
    margin-top: 10px;
}