<div id="main">
    <h1 mat-dialog-title id="title">Modifier le film</h1>
    <div mat-dialog-content>
        <mat-grid-list cols = "2" rowHeight="30px" class="content">
            <mat-grid-tile><span class="tile-title">Titre</span></mat-grid-tile>
            <mat-grid-tile class="tile-content">
                <mat-form-field>
                    <input matInput value="newTitle" [(ngModel)]="newTitle"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile><span class="tile-title">Genre</span></mat-grid-tile>
            <mat-grid-tile class="tile-content">
                <mat-form-field>
                    <mat-select [(ngModel)]="newGenre">
                        <mat-option *ngFor="let genre of genres" [value]="genre">
                          {{genre}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile><span class="tile-title">Durée (min)</span></mat-grid-tile>
            <mat-grid-tile class="tile-content">
                <mat-form-field>
                    <input matInput value="newDuration" [(ngModel)]="newDuration"/>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile><span class="tile-title">Année de production</span></mat-grid-tile>
            <mat-grid-tile class="tile-content">
                <mat-form-field>
                    <input matInput value="newProdYear" [(ngModel)]="newProdYear"/>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div id="confirm">
        <button mat-button (click)="this.confirmEdit()">Confirmer</button>
    </div>
</div>
