mat-toolbar-row {
    background-color: white;
}

.left-item {
    margin-right: 15px;
    cursor: pointer;
}

.right-item {
    margin-left: 15px;
    cursor: pointer;
}

#fill-space {
    flex: 1 1 auto;
}

mat-menu-content {
    padding: 0;
    background-color: white;
}
