<div id="main">
    <div>
        <h1 mat-dialog-title>Nom: {{this.data.membre.nom}}</h1>
        <span mat-dialog-content><span style="font-weight:bold">ID : </span>{{this.data.membre.ID_membre}}</span>
        <div class="whitespace">
            <span mat-dialog-content><span style="font-weight:bold">Adresse courriel : <br> </span>{{this.data.membre.courriel}}</span>
            <span mat-dialog-content><span style="font-weight:bold">Adresse postale : <br> </span>{{this.data.membre.no_rue}} rue {{this.data.membre.rue}}, {{this.data.membre.ville}}, {{this.data.membre.code_postal}}</span>
        </div>
    </div>
    <div id="close">
        <button mat-button (click)="this.close()">OK</button>
    </div>
</div>
